main {
  margin-top: 3.5rem;

  background: var(--color-main-background);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  min-height: calc(100vh - 3.5rem);
  box-sizing: border-box;
  display: block;
}

.container-md {
  display: block;
  padding: 0 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}
