main {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-color: var(--color-black);
  z-index: 0;
}

.background-gif {
  position: absolute;
  top: 9vh;
  left: 0;
  width: 100vw;
  height: 100%;
  background: url("https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3aDl0amVjOWpzeDgwMmd2MnlqdDdkMnp4MWRqaWNpd2ZmcTR2aGFydCZlcD12MV9naWZzX3JlbGF0ZWQmY3Q9Zw/ehssta24116nk9VWyN/giphy.gif")
    center top repeat-y;
  background-size: 100% auto;
  z-index: -1;
}

.container-main {
  background: var(--color-main-background);
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  box-sizing: border-box;
  display: block;
  width: 100%;
  max-width: 700px;
  margin-top: 10rem;
  position: relative;
  z-index: 1;
}

.container-md {
  display: block;
  padding: 0 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 1;
}
