.top-main__profile {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  gap: 0.8rem;
}

/* @media (min-width: 768px) {
  .top-main__profile {
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
  }
} */