.top-main__profile {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-left: 0.5rem;;
}

/* @media (min-width: 768px) {
  .top-main__profile {
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
  }
} */