#search-input {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  font-size: var(--font-size-base);
  width: 250px;
  max-width: 80%;
  background: var(--color-input-background);
  color: var(--color-input-text);
}